

<div class="vertically-centered content row">
    <div class="large-6 large-centered small-6 small-centered columns">
        <div class="panel">

            <% if (errors) {%>
              <% errors.forEach(function (error) { %>
                <%= __(error) %>
              <% }) %>
            <% } %>

            <!-- if (Object.keys(providers).length) { -->
              <h5>Login using your Google Account</h5>

              <hr/>
                <a href="/auth/google" role="button" class="button expand">
                    Google
                </a>
        </div>
    </div>
</div>
