<% include ../_header.ejs %>

<div class="content row">
    <div class="large-12 large-centered small-11 small-centered columns">
        <h3>Add Device</h3>
        <%if(status === "Error") { %>
        <div class="alert alert-danger" role="alert"><%=statusDescription%></div>
        <% } %>
        <% include _form.ejs %>
    </div>
</div>
