<!DOCTYPE html>
<!--


       444444444       000000000      333333333333333
      4::::::::4     00:::::::::00   3:::::::::::::::33
     4:::::::::4   00:::::::::::::00 3::::::33333::::::3
    4::::44::::4  0:::::::000:::::::03333333     3:::::3
   4::::4 4::::4  0::::::0   0::::::0            3:::::3
  4::::4  4::::4  0:::::0     0:::::0            3:::::3
 4::::4   4::::4  0:::::0     0:::::0    33333333:::::3
4::::444444::::4440:::::0 000 0:::::0    3:::::::::::3
4::::::::::::::::40:::::0 000 0:::::0    33333333:::::3
4444444444:::::4440:::::0     0:::::0            3:::::3
          4::::4  0:::::0     0:::::0            3:::::3
          4::::4  0::::::0   0::::::0            3:::::3
          4::::4  0:::::::000:::::::03333333     3:::::3
        44::::::44 00:::::::::::::00 3::::::33333::::::3
        4::::::::4   00:::::::::00   3:::::::::::::::33
        4444444444     000000000      333333333333333



  This is the default "403: Forbidden" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/403.js`

  You can trigger this response from one of your controllers or policies with:
  `return res.forbidden( msg );`
  (where `msg` is an optional error message to include in the response)




-->
<html>
  <head>
    <title>Forbidden</title>
     <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/b.normalize.min.css">
    <link rel="stylesheet" href="/styles/foundation.css">
    <link rel="stylesheet" href="/styles/foundation.datepicker.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
  </head>
      <div class="vertically-centered content row">
        <div class="large-6 large-centered small-6 small-centered columns">
            <div class="panel callout radius">
        <h1>
          Forbidden
        </h1>
        <h2>
          <% if (typeof error !== 'undefined') { %>
          <%= error %>
          <% } else { %>
          You don't have permission to see the page you're trying to reach.
          <% } %>
        </h2>
        <p class="help">
          <a href="http://en.wikipedia.org/wiki/HTTP_403">Why</a> might this be happening?
        </p>
      </div>
            </div>
      </div>
<body>
      <!--SCRIPTS-->
      <script src="/js/dependencies/sails.io.js"></script>
      <script src="/js/dependencies/jquery.min.js"></script>
      <script src="/js/dependencies/foundation.min.js"></script>
      <script src="/js/dependencies/badge.js"></script>
      <script src="/js/dependencies/foundation.datepicker.min.js"></script>
      <script src="/js/dependencies/modernizr.js"></script>
      <!--SCRIPTS END-->
</html>
