<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Awesome. I have it.</h2>
  <div>
      <form action="http://localhost:1337/file/upload" enctype="multipart/form-data" method="post">
          <input type="text" name="title"><br>
          <input type="file" name="uploaded-file" multiple="multiple"><br>
          <input type="submit" class="button" value="Upload">
      </form>
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
