<% include _header.ejs %>

<div class="content">
    <div class="row">
        <h3>Attach Location to Device</h3>
        <form id="menagerie" action="/api/manage" method="post">
            <!-- <div class="row">
                <div class="large-12 columns">
                    <label>Select User
                        <select name="receiver">
                            <option value="1">User 1</option>
                            <option value="2">User 2</option>
                            <option value="3">User 3</option>
                        </select>
                    </label>
                </div>
            </div>-->
            <div class="row">
                <div class="large-12 columns">
                    <label>Device Id
                        <input name="deviceId" type="text" placeholder="Device Id" />
                    </label>
                </div>
                <div class="large-12 columns">
                    <label>Location Id
                        <input name="locationId" type="text" placeholder="Location Id" />
                    </label>
                </div>

            </div>
            <button id="submit" class="success expand radius">Send</button>
        </form>
    </div>
</div>
