<% include _header.ejs %>

<div class="content">
    <div class="row">
        <h3>Add Device to Location</h3>
        <form id="menagerie" action="/device/manage" method="post">
            <div class="row">
                <div class="large-12 columns">
                    <label>Location
                        <input id="location" name="locationId" type="text" placeholder="Id or UUID" />
                    </label>
                </div>
                <div class="large-12 columns">
                    <div class="panel location-info">
                    </div>
                </div>
                <div class="large-12 columns">
                    <label>Device Id or UUID
                        <input id="device" name="deviceId" type="text" placeholder="Id or UUID" />
                    </label>
                </div>
                <div class="large-12 columns">
                    <div class="panel device-info">
                    </div>
                </div>
            </div>
            <button id="submit" class="  radius">Clear</button>
            <button id="submit" class="success  radius">Send</button>
        </form>
    </div>
</div>
<script type="text/javascript">
function populateInfo(name, uuid){
    io.socket.get('/'+name+'?where={"uuid":"'+uuid+'"}', function(data, jwres){
        console.log(data);
        var record = data.records[0];
        $('.'+name+'-info').append('<h5>' + record.name + '</h5>');
        $('.'+name+'-info').append('<p>' + record.description + '</p>');
    });
}
$('#device').change(function(e){
    console.log()
    populateInfo('device', $(this).val());
});


$('#location').change(function(e){

    populateInfo('location', $(this).val());
});
</script>
