

<div class="vertically-centered content row">
    <div class="large-6 large-centered small-6 small-centered columns">
        <div class="panel">
        <h2><%= title %></h2>
        </div>
    </div>
</div>
