nav.main-header{
    margin-bottom: 30px;
}


img.qr-code{
    width: 60px;
    height: 60px;
}

.vertically-centered-holder{
    display:table-cell;
    vertical-align: middle;
}

.vertically-centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


footer {
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    line-height: 50px;
    color: #aaa;
    text-align: left;
    margin-left: 20px;
    width: 100%;
    z-index: -10;
}

footer .local,
footer .development {
    color: red;
}


footer .staging {
    color: orange;
}

footer .production {
    color: green;
}


input:required:invalid, input:focus:invalid {
    border: 1px solid red;
}
input:required:valid {
    border: 1px solid green;
}


.overflow {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
}
.overflow .clip {
    text-overflow: clip;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
}
